body {
    background-color: #1a1a2E;
    font-family: arial;
    color: white;
}
* {
    margin:0;
}
#main {
    background-color: #FF2E63;
    width: 100%;
    text-align: center;
    padding: 20px;
}
header a {
    background-color: bisque;
    border-radius: 20px;
    padding: 10px;
    width: 450px;
    color: black;
    font-weight: 400;
    text-decoration: none;
}
header a:hover {
    background-color: none;
    color: white;
}