body {
    background-color: black;
    font-family: 'Arial';
    color: white;
}
* {
    margin:0;
}
header {
    text-align: center;
}
#id-button{
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    padding: 8px 12px;
}
